body {
	width: 1260px;
}

section {
	overflow: auto;
	margin: 0px 0px 2% 0px;
	text-align: center;
	background-color: white; 
	border-bottom: 4px solid #ebebeb;
}

h1 {
	/* your name */
	font-size: 28;
	background-color: #20B2AA;
	padding: 2%;
	color: #ebebeb;
	float: left;
	margin: 0px 0px 0px 150px;
}

h2 {
	font-size: 28;
	border-bottom: 4px solid #ebebeb;
	padding: 0px 0px 10px;
	width: 90%;
	margin: 25px 150px 25px 25px;
}

input {
	width: 570px;
	margin-left: 2	5px;
	border: 2px solid #ebebeb;
}
label{
	font-family: Arial;
	padding: 0px 0px 10px;
	width: 90%;
	margin: 25 150px 25px 25px;
	color: #696969;
}

h3 {
	font-size: 24;
	border-bottom: 2px solid #ebebeb;
	width: 80%;
	padding-bottom: 20px;
	margin: 25 150px 25px 25px;
}

ul {
	/* About Portfolio Contact */
	font-family: sans-serif;
	color: #ebebeb;
	text-align: right;
	font-size: 18;
	float: right;
	background-color: white;
}

a:link {
	text-decoration: none;
}

.one:hover {
	color: #A9A9A9;
}

.two:hover {
	color: #A9A9A9;
}

.three:hover {
	color: #A9A9A9;
}

.one {
	border-left: 1px solid #C0C0C0;
	margin-left: 10px;
	margin-right: 150px;
	padding: 5px;
}

.two {
	border-left: 1px solid #C0C0C0;
	margin-left: 10px;
	padding: 5px;
}

.three {
	padding: 5px;	
}

.big_box {
	height: 200px;
	width: 570px;
}
p {
	color: #C0C0C0;
	margin: 0px 0px 0px 25px;
}

article {
	/* about me */ 
	border: 2px solid #ebebeb;
	color:#20B2AA;
	margin: 0px 20px 0px 150px;
	background-color: white;
	float: left;
	width: 650px;
	margin-bottom: 2%;
}

.picture {
	margin-left: 25px;
	float: left;
}

div {
	/* connect with me */
	font-family: "Times New Roman", Times, serif;
	border: 2px solid #ebebeb;
	color: #20B2AA;
	background-color: white;
	text-align: left;
	float: left;
	width: 270px;
	padding: 0px 0px 50px;
	margin: 0px 0px 20px 12px;
}

h4 {
	/*copy right*/
	clear: both;
	border-top: 8px solid #20B2AA;
	color: #ebebeb;
	background-color: #696969;
	font-size: 12;
	padding: 2% 2% 1% 2%;
	text-align: center;
	margin: 2% 0px 0px 0px;
}

h5 {
	padding: 10px;
	color: white;
	background-color: #20B2AA;
	margin: 25px;
	width: 50px;
	font-family: sans-serif;
	font-weight: lighter;
}
