section {
	overflow: auto;
	margin: 0px 10% 2% 0px;
	text-align: center;
	background-color: white; 
	width: 100%;
	border-bottom: 1px gray;
}
h1 {
	/* your name */
	background-color: #20B2AA;
	padding: 2%;
	color: white;
	float: left;
	margin: 0px 0px 0px 10%;
}

ul {
	/* About Portfolio Contact */
	color: #C0C0C0;
	border-left: 1px solid gray;
	text-align: right;
	font-size: 18;
	float: right;
	background-color: white;
}

p {
	float: right;
	color: #C0C0C0;
	margin: 0px;
}

article {
	/* about me */ 
	margin: 0px 2% 2% 10%;
	background-color: white;
	float: left;
	width: 50%;
}

div {
	/* connect with me */
	text-align: center;
	color: #20B2AA;
	background-color: white;
	float: left;
	width: 15%;
	padding: 2%;
	margin: 0px 10% 0px 2%;
}

h4 {
	/*copy right*/
	clear: both;
	border-top: 10px solid #20B2AA;
	color: white;
	background-color: #696969;
	font-size: 12;
	padding: 2%;
	text-align: center;
	vertical-align: text-bottom;
}

