html {
	font: Arial;
}

h1 {
	/* your name */
	background-color: #20B2AA;
	color: white;
	float: left;
	margin-left: 18%;
	padding: 25px;
	overflow: auto;
}

h5 {
	/* contact portfolio about */
	color: #C0C0C0;
	text-align: right;
	width: 100%;
	float: right;
	background-color: white;
	padding: 25px;
}

p {
	clear: both; 
	width: 35%;
	background-color: white;
	float: left;
	color: #C0C0C0;
	margin: 0px;
}

h2{
	/* about me */
	clear: both;
	float: left;
	width: 35%;
	color: #20B2AA;
}

h4 {
	/*copy right*/
	float: right;
	border-top: 8px solid #20B2AA;
	color: white;
	background-color: #696969;
	font-size: 12;
	padding: 25px 0px;
	text-align: center;
	width: 100%;
}


div {
	/* connect with me */
	color: #20B2AA;
	background-color: white;
	float: right;
	width: 50%;
	border: 1px solid black;
}